body{
    overflow-x: hidden;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.croselBox{
    overflow-x: hidden;
}
/* Header */

#anulogo{
    width: 70px;
    height: 70px;
    margin-left: 7px;
    margin-top: 1%;
}
.logoBox{
    display:flex;
    flex-direction: row;
}
#StoreName{
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    align-self: center;
    margin-left: 37px;
    color: #95060B;
}
.link{
    display:flex;
    text-decoration: none;
    list-style-type: none;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    color: #FDBB11;
    margin-left: 12px;

}
.NavOuterBox{
    display: flex;
    position:relative;
    justify-content: space-between;
    background: #61A6C5;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
}
li a{
    color:#FDBB11;
}
li{
    margin-right: 20px;
}
a:link{
    text-decoration: none;
}

a:Visited{
    text-decoration: underline;
}
.HeaderBox ul{
    list-style: none;
}
.active{
    color:#95060B;
}

/* crosuel part*/
#crosolimage{
    height: 60vh;
}

/* Sareejs */

.Sareediv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.sareeouterdiv{
    background:#FFF6E4;
    margin-top:-1%;
    overflow-x: hidden;
}
#ourProduct{
    text-align: center;
    font-size: 37px;
}

/* ItemsCard.js */
#sareeimagecard{
    height: 63vh;
}
#sareeimagecard:hover{
    transform: scale(1.25);
    transition-delay: 5;
    
}
#parasection{
    font-size: 25px;
}

#updatepara{
    font-size: 25px;
    font-weight: 600;
    margin-left: 10%;
}
#deletepara{
    font-size: 25px;
    color: red;
    font-weight: bold;
    margin-right: 16px;
}


.TextdivPara{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.TextdivPara1{
    display:flex;
    justify-content:space-between;
    margin-top: -7%;
    flex-wrap: wrap;
}
.Descriptionsarediv{
    width: 100%;
    margin-top: -1%;
    margin-bottom: 7%;
}
#descriptionrightside{
    font-size:25px;
    font-Weight:bold;
    margin-right:10%;
    margin-left: -13%;
}

#descriptionrightside1{
    font-size:25px;
    margin-right:10%;
    font-weight: bold;
    margin-left: 9%;
}

.updatedeletediv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -6%;
}
.cardinnerouterbox{
    margin-bottom: 24%;
}
.cardouterbox{
    overflow-x: hidden;
}

/* updatesaree/suit */
.updatediv{
    background-image: url("./Images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -2%;
    height: 100vh;
}

/* footer */
.Fotter-outer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #61A6C5;
    flex-wrap: wrap;
}
.span1{
    font-size: 20px;
    color:#050504

}

#headingFotter{
    color:#050504
}
.socialImageContainer{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}
#imagesocial {
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: 12px;
    margin-bottom: 13%;
}

/* Add Saree */

.formsaree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 13%;
}

.inputfield {
    margin-bottom: 12%;
    width: 400px;
    padding: 10px;
    color: green;
    font-size: 21px;
}
#buttons{
    width: 120px;
    height: 4vh;
    font-size: 20px;
}

/* login/register form */
.loginregisterform{
    background-image: url("./Images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -2%;
}
#loginButton{
    font-size: 20px;
    margin-bottom: 2%;
    width: 15%;
    margin-left: 41%;
}
.loginregisterbuttondiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width:1160px){
    #sareeimagecard {
        height: 48vh;
    }
    #descriptionrightside1 {
        font-size: 25px;
        margin-right: 0%;
        font-weight: bold;
        margin-left: 0;
    }
    #parasection {
        font-size: 25px;
    }
    #descriptionrightside {
        font-size: 25px;
        font-Weight: bold;
        margin-right: 5%;
        margin-left: -14%;
    }
    .updatedeletediv {
        margin-top: -11%;
    }
    #updatepara {
        font-size: 25px;
        font-weight: 600;
        margin-left: 0%;
    }
    #deletepara {
        font-size: 25px;
        color: red;
        font-weight: bold;
        margin-right: 1px;
    }
    .TextdivPara1 {
        margin-top: -15%;
    }
}
@media screen and (max-width:1010px){
    #crosolimage {
        height: 26vh;
    }
    .Sareediv {
        justify-content: center;
    }
}
@media screen and (max-width:712px) {
    #sareeimagecard {
        height: 36vh;
    }
    #descriptionrightside1 {
        font-size: 20px;
    }
    #parasection {
        font-size: 20px;
    }
    #descriptionrightside {
        font-size: 20px;
        margin-right: 2%;
        margin-left: -5%;
    }
    #updatepara {
        font-size: 20px;
    }
    #deletepara {
        font-size: 20px;
    }
    .updatedeletediv {
        margin-top: -15%;
    }
    .TextdivPara1 {
        margin-top: -21%;
    }
    #ourProduct {
        font-size: 27px;
    }
    .Sareediv {
        justify-content: space-around;
    }
}

@media screen and (max-width:514px){
    #crosolimage {
        height: 25vh;
    }
    .link {
        font-size: 20px;
        margin-left: -26px;
    }
    .updatediv{
        margin-top: -5%;
    }
}
@media screen and (max-width:400px){
    #crosolimage {
        height: 19vh;
    }
    .link {
        font-size: 16px;
        margin-left: -30px;
    }
    /* saree */
    .Sareediv{
        justify-content: center;
    }
    #sareeimagecard {
        width: 290px;
    }
    .fotteraddress{
        margin-left: 10%;
    }
    .inputfield {
        width: 300px;
    }
    .updatediv{
        margin-top: -6%;
    }
}
